[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/hugo-toha/toha.git
[submodule "themes/--toha"]
	path = themes/--toha
	url = https://github.com/hugo-toha/toha.git
[submodule "themes/-toha"]
	path = themes/-toha
	url = https://github.com/hugo-toha/toha.git
